  <a href="stories/Aces-and-Ali-Babas" style="cursor: pointer">
    <figure>
        <picture>
          <img src="media/stories/aces-and-ali-babas.jpg" alt="aces-and-alibabas">
        </picture>
        <!-- <figcaption style="padding: 0px 8px;">Artwork by Areeba Turabi</figcaption> -->
      <h1 id="banner-title">Aces and Ali Babas</h1>
      <span class="bg-accent banner-button">Read the short story →</span>
    </figure>
    </a>