  <a href="https://interspace.icu" style="cursor: pointer">
    <figure>
        <picture>
          <source media="(max-width: 540px)" srcset="media/stories/afterlife.jpg">
          <source media="(min-width: 540px)" srcset="media/afterlife-banner-low.jpg">
          <img src="media/stories/afterlife.jpg" alt="afterlife-fiona">
        </picture>
      <h1 id="banner-title">AfterLife</h1>
      <figcaption style="padding: 0px 8px;">If I can't be with you in this world, I'll be with you in the next<br><span class="button">Read the short story →</span></figcaption>
    </figure>
    </a>