<a href="poetry/cocoon" style="cursor: pointer">
  <figure>
    <picture>
      <img alt="cocoon-poem" class="lazyload" data-src="media/poetry/cocoon.webp"
        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
    </picture>
    <div id="banner-text">
      <h1 id="banner-title">Cocoon</h1>
      <span class="bg-accent banner-button">A poem about the evolution of identity ›</span>
    </div>
  </figure>
</a>