  <a href="t-shirts/dallas-killed-jfk" style="cursor: pointer">
    <figure>
        <picture>
          <img src="media/store/dallas-killed-jfk-alpha.png" alt="aces-and-alibabas">
        </picture>
      <h1 id="banner-title">Read the essay</h1>
      <span class="bg-accent banner-button">Read now →</span>
    </figure>
  </a>