<a href="poetry/Eraser" style="cursor: pointer">
  <figure>
      <picture>
        <img
          alt="eraser-poem"
          class="lazyload"
          data-src="media/poetry/eraser.webp"
          src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
        >
      </picture>
      <div id="banner-text">
        <h1 id="banner-title">Eraser</h1>
        <span class="bg-accent banner-button">Read a poem about letting go of the past ›</span>
      </div>
  </figure>
</a>