<a href="poetry/tool" style="cursor: pointer">
  <figure>
    <picture>
      <img alt="tool-poem" class="lazyload" data-src="media/poetry/tool.webp"
        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
    </picture>
    <div id="banner-text">
      <h1 id="banner-title">tool</h1>
      <span class="bg-accent banner-button">A poem about purpose ›</span>
    </div>
  </figure>
</a>