<%- include ../components/head.ejs %>
</head>
<body>

<main class="constricted">
  <h1 class="noselect details">T-shirts</h1>
  <section id="store-section">
    <%- include('../components/image_list', { list: items }); %>
    <p class="return-button">
      ‹ <a href="/">home</a>
    </p>
  </section>
  </section>
</main>

<%- include ../components/footer.ejs %>
