<%- include ../components/head.ejs %>

<!-- Isso comments -->
<script data-isso="//comments.dfoster.org/"
  data-isso-avatar="false"
  src="//comments.dfoster.org/js/embed.min.js"></script>

<style>
  main img {
    max-width: 100%;
    max-height: calc(100vh - 128px);
    display: block;
    margin: 0px auto;
  }
  main h1 {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  @media (max-width: 800px) {
    main section {
      text-align: justify;
    }
  }
  article {
    padding: 0px 16px;
    margin: 0px auto;
    max-width: 500px;
  }
  article pre {
    color: #222;
  }
  @media (max-width: 480px) {
    article pre {
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
  .support-text {
    font-size: 16px;
    font-style: italic;
    text-align: center;
  }
  #store-item p {
    line-height: 1.5;
  }
  #store-item img + em {
    font-size: 16px;
    text-align: center;
  }
</style>
</head>
<body>

<main>
  <article id="store-item">
    <%- body %>
    <%- Buffer.from(meta.paypal, 'base64') %>
    <p class="support-text">Ships from Dallas the next business day after purchase</p>
    <p class="support-text">For questions about an order send an email to <a href="mailto:dev.fosterweb@gmail.com" class="link">dev.fosterweb@gmail.com</a></p>
    <section id="isso-thread"></section>
  </article>
  
  <p class="return-button">
    « <a href="/">home</a>
    ‹ <a href="/t-shirts">more t-shirts</a>
  </p>
</main>

<%- include ../components/footer.ejs %>
