<style>
  footer {
    border-top: 1px solid #eee;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer p {
    margin: 0;
    line-height: 16px;
    font-size: 10px;
    color: #666;
  }
  footer a {
    font-family:sans-serif;
    font-size: 12px;
    color: white;
    background-color: dimgray;
    padding: 5px 9px;
    border-radius: 12px;
  }
</style>
<footer>
  <p>© Copyright David A. Foster 2016-2020</p>
  <a href="/about">about</a>
</footer>
<script>
  var Main = document.getElementsByTagName('main')[0]
  var Footer = document.getElementsByTagName('footer')[0]

  stickyFooter()
  lazyload()

  window.onresize = function () {
    stickyFooter()
  }
  function stickyFooter() {
    Main.style.minHeight = document.documentElement.clientHeight - Footer.offsetHeight + 'px'
    if (window.location.pathname === "/about") {
      Footer.innerHTML = `<p>© Copyright David A. Foster 2016-2020</p>`
    }
  }
</script>
</body>

</html>