<!DOCTYPE html>
<html>

<head>
  <title><%= htmlTitle %></title>

  <meta name="description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-100430191-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-100430191-1');
  </script>
  
  <link rel="shortcut icon" href="/media/icons/favicon.png" />

  <%- include style.ejs %>
  <%- include lazyload.ejs %>
