<style>
  .constricted {
    max-width: 560px;
    margin: 0px auto;
  }

  .section-image-list h3 {
    text-decoration: underline;
    margin: 0px;
  }

  .section-image-list {
    padding: 0px;
    list-style: none;
  }

  .section-image-list img {
    display: block;
    width: 100%;
  }
  .section-image-list li {
    margin-right: 6px;
    margin-bottom: 32px;
  }
  .image-item-details button {
    font-size: 12px;
    border: none;
    border-radius: 0;
    padding: 4px 8px;
    color: white;
  }

  .image-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .image-item-details h3 {
    margin-left: 8px;
  }
  .image-item-details button {
    margin-right: 8px;
  }
</style>
<ul class="section-image-list">
  <% for(var i=0; i < list.length; i++) {%>
  <a href="/t-shirts/<%= list[i].path %>">
    <li>
      <img
        class="lazyload"
        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
        data-src="/media/store/<%= list[i].path %>-modeled.webp"
      >
      <div class="image-item-details">
        <h3 class="underline"><%= list[i].name %></h3>
        <button>buy ›</button>
      </div>
    </li>
  </a>
  <% } %>
</ul>