<style>
  .section-list {
    margin-top: 4px;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0px;
  }
  @media (max-width: 480px) {
    .section-list {
      width: 100%;
    }
  }
  .section-list li {
    display: flex;
    padding: 4px;
    margin-right: 6px;
    margin-bottom: 32px;
  }
  ul a:last-child li {
    margin-bottom: 0px;
  }
  .section-list li img {
    margin-right: 8px;
    height: 100%;
    flex: 0 0 120px;
  }
  .item-description {
    font-size: 14px;
    color: #666;
    margin: 0;
    line-height: 1.1rem;
  }
  .item-details {
    position: relative;
    width: 100%;
  }
  .item-details h3 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1;
  }
  .item-details button {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 12px;
    border: none;
    border-radius: 0;
    padding: 4px 8px;
    color: white;
  }
</style>
<ul class="section-list">
  <% for(var i=0; i < list.length; i++) {%>
  <a href="/<%= section %>/<%= list[i].path %>">
    <li>
      <img
        class="lazyload"
        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
        data-src="/media/<%= section %>/thumbs/<%= list[i].path %>.webp"
        width="120"
      >
      <div class="item-details">
        <h3 class="underline"><%= list[i].title %></h3>
        <p class="item-description"><%= list[i].description %></p>
        <button>read ›</button>
      </div>
    </li>
  </a>
  <% } %>
</ul>