<%- include components/head.ejs %>
<style>
  main {
    overflow: auto;
    margin: 0px auto;
  }
  main h1 {
    font-size: 2rem;
    margin: 0;
  }
  main h2 {
    font-size: 26px;
    margin: 0px;
    margin-top: 4px;
    margin-left: 4px;
  }
  figure {
    margin: 0px auto 16px auto;
    text-align: center;
  }
  figure img {
    width: 100%;
  }
  figcaption {
    color: #444;
    font-size: 14px;
    text-align: right;
    text-transform: lowercase;
    margin-top: -4px;
  }
  figcaption:hover {
    color: #444;
  }
  .wider {
    width: 100%;
  }
  @media (min-width: 1080px) {
    .home-section {
      display: inline-block;
      width: 330px;
      vertical-align: top;
    }
    main h2 {
      text-align: center;
    }
  }
  .home-section {
    margin-bottom: 32px;
  }
  .home-section section {
    border-left: 2px solid #ccc;
    margin-left: 4px;
  }
  main div:last-child {
    margin-bottom: 0px;
  }
  .banner-button {
    text-align: center;
    display: block;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    margin-top: 6px;
    padding: 2px 0px;
    color: white;
    background: darkslategray;
  }

  @media (min-width: 480px) {
    #banner-title {
      letter-spacing: 4px;
    }
  }

  #banner-title {
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
</style>

<!-- Facebook links image preview -->
<meta property="og:image" content="http://dfoster.org/media/david-alexander-foster.jpg">

<!-- Hotjar Tracking Code for https://dfoster.org -->
<script>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
    h._hjSettings = { hjid: 1340344, hjsv: 6 };
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script'); r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>

</head>

<body>
  <main>

    <%- include components/banners/tool.ejs %>

    <div class="home-section">
      <a href="/poetry">
        <h2 class="noselect">Poetry</h2>
      </a>
      <section id="poem-section">
        <%- include('components/list', {list: poems, section: 'poetry'}); %>
      </section>
    </div>

    <div class="home-section">
      <a href="/stories">
        <h2 class="noselect">Stories</h2>
      </a>
      <section id="stories-section">
        <%- include('components/list', {list: stories, section: 'stories'}); %>
      </section>
    </div>

    <div class="home-section">
      <a href="/t-shirts">
        <h2 class="noselect">T-shirts</h2>
      </a>
      <section id="store-section">
        <%- include('components/image_list', {list: merch}); %>
      </section>
    </div>
  </main>

  <%- include components/footer.ejs %>