<%- include ../components/head.ejs %>
<style>
.constricted {
  max-width: 640px;
  margin: 0px auto;
}
</style>
</head>
<body>

<main class="constricted">
  <h1 class="noselect details">Stories</h1>
  <section id="stories-section">
    <%- include('../components/list', {list: stories, section: 'stories'}); %>
    <p class="return-button">
      ‹ <a href="/">home</a>
    </p>
  </section>
</main>

<%- include ../components/footer.ejs %>
