<%- include ../components/head.ejs %>

<!-- Isso comments -->
<script data-isso="//comments.dfoster.org/"
  data-isso-avatar="false"
  src="//comments.dfoster.org/js/embed.min.js"></script>
  
<style>
  figure {
    margin: 0px auto;
    text-align: center;
  }
  figcaption {
    color: #444;
    font-size: 12px;
    text-align: right;
    text-transform: lowercase;
    max-width: 640px;
    margin-top: 2px;
    margin-right: 4px;
  }
  main img {
    max-width: 100%;
    max-height: calc(100vh - 128px);
    display: block;
    margin: 0px auto;
  }
  main h1 {
    margin-top: 12px;
  }
  article {
    margin: 0px auto;
    padding: 0px 16px;
    max-width: 640px;
  }
  article p {
    color: #222;
  }
  #text-body {
    line-height: 2em;
  }
</style>
</head>
<body>

<main>
  <figure>
    <img src="/media/stories/<%= meta.title.replace(/\s+/g, '-').toLowerCase() %>.webp">
    <% if (meta.artworkBy) { %>
      <figcaption>Artwork by <%= meta.artworkBy %></figcaption>
    <% } %>
  </figure>
  <article>
    <h1 class="noselect"><%= meta.title %></h1>
    <section id="text-body"><%- body %></section>
    <section id="isso-thread"></section>
  </article>


  <p class="return-button">
    « <a href="/">home</a>
    ‹ <a href="/stories">more stories</a>
  </p>
</main>
      
<%- include ../components/footer.ejs %>
