html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

#gray-bg {
  position: relative;
  background: #626d69;
}

.cover {
  position: relative;
  margin: 0px auto;
  max-width: 640px;
  background-size: cover;

  width: calc(100vw - (100vw - 100%));
  height: 50vh;
}
#primary-cover {
  height: 100vh;
  background: url(../public/media/afterlife.gif) no-repeat center center;
  background-size: cover;
}

#text {
  position: absolute;
  bottom: 16px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}

header {
  padding-left: 8px;
}

@media only screen and (min-width: 321px) {
  header h1 {
    font-size: 5em;
  }
}

@media only screen and (max-width: 321px) {
  header h1 {
    font-size: 4em;
  }
}

header h1 {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  text-shadow: #000 1px 0 10px;
}

header p {
  margin: 0px;
  font-size: 2em;
  line-height: 1.2em;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

cite {
  text-align: center;
  display: block;
}

article {
  padding: 8px;
  margin: 0px auto;
  max-width: 640px;
}

#read-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  width: 80%;
  margin: 32px auto 0px auto;
}

#read-button p {
  float: left;
  margin: 0px;
  font-size: 24px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#read-button a {
  float: right;
  text-decoration: none;
  font-size: 24px;
  background: white;
  padding: 4px 16px;
  color: green;
  border: 1px solid green;
  border-radius: 16px;
}

#read-svg {
  height: 16px;
}

.button {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 24px;
  color: green;
  border: 1px solid green;
  border-radius: 16px;
}

#next-button {
  line-height: 32px;
  font-size: 14px;
  padding-left: 10px;
  margin-right: 12px;
}
#next-button img {
  height: 32px;
  float: right;
  margin-left: 2px;
}
#email-button {
  height: 20px !important;
  margin-left: 4px !important;
  margin-right: 8px !important;
  margin-top: 5px;
}
#prev-button {
  line-height: 32px;
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  margin-left: 12px;
}
#prev-button img {
  height: 32px;
  float: left;
  margin-right: 2px;
}
#button-wrapper {
  max-width: 640px;
  margin: 0px auto;
}
#button-row {
  width: 100%;
  font-weight: 500;
  margin: 16px auto;
  display: inline-flex;
  justify-content: space-between;
}