<%- include ../components/head.ejs %>
<style>
  main {
    max-width: 640px;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    text-align: center;
    margin-bottom: 24px;
  }
  main img {
    max-width: 100%;
  }
  @media (min-width: 480px) {
    main img {
      max-height: 90vh;
    }
  }
</style>
</head>
<body>

<main id="photography">
  <h1 class="noselect"><%= htmlTitle %></h1>
  <ul>
    <li style="margin-bottom:4px">Model: <%= meta.model.name %>
      <% meta.model.socialMedia.forEach( media => { %>
        <% if (media.instagram) { %>
          <a href="https://www.instagram.com/_u/<%= media.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a>
        <% } %>
        <% if (media.etsy) { %>
          <a href="https://www.etsy.com/shop/<%= media.etsy %>" target="_blank"><img class="etsy-icon" src="/media/icons/etsy.svg"></a>
        <% } %>
      <% }) %>
    </li>
    <li>Camera: <%= meta.camera %></li>
  </ul>
  <ul>
    <% for (var i=0; i < photos.length; i++) {%>
      <li>
          <img src="/media/photography/<%= htmlTitle.replace(/\s+/g, '-')%>/<%= photos[i] %>">
      </li>
      <% } %>
  </ul>
  <a href="/" class="return-button">← return home</a>
</main>

<%- include ../components/footer.ejs %>
