<%- include ../components/head.ejs %>
<style>
  main {
    max-width: 640px;
  }
  main ul {
    list-style: none;
    padding: 0px;
  }
  main li {
    text-align: center;
    margin-bottom: 24px;
  }
  main img {
    max-width: 100%;
  }
  @media (min-width: 480px) {
    main img {
      max-height: 90vh;
    }
  }
</style>
</head>
<body>

<main id="photography">
  <h1 class="noselect"><%= htmlTitle %></h1>
  <ul id="shoots">
    <% for(var i=0; i < albums.length; i++) {%>
      <li>
        <a href="/photography/<%= albums[i].replace(/\s+/g, '-') %>">
          <img src="/media/photography/<%= albums[i].replace(/\s+/g, '-')%>/<%= albums[i].replace(/\s+/g, '-').toLowerCase() %>.jpg">
          <br>
          <%= albums[i].replace(/-/g, ' ') %>
        </a>
      </li>
      <% } %>
  </ul>
  
  <a href="/" class="return-button">← return home</a>
</main>

<%- include ../components/footer.ejs %>
