<%- include ../components/head.ejs %>
</head>
<body>

  <main style="max-width: 640px; margin: 0px auto;">
    <h1 class="noselect">404</h1>
    <p>You entered a URL for a page that doesn't exist. <a class="underline" href="/">Get back to where you belong</a></p>
  </main>
<%- include ../components/footer.ejs %>