<%- include ../components/head.ejs %>
  <style>
  #about {
    max-width: 640px;
    position: relative;
  }
  #about img {
    width: 100%;
  }
  #about h3 {
    margin-left: 8px;
  }
  #about p {
    margin: 16px;
  }
  #about a {
    text-decoration: underline;
    color: darkslategray;
  }
  #about ul {
    list-style: circle;
    margin-right: 4px;
  }
  main ul {
    padding-left: 24px;
    margin-left: 8px;
    width: inherit;
  }
  main h2 {
    margin-left: 8px;
  }
  </style>
</head>
<body>

<main id="about">
  <img src="/media/david-alexander-foster.webp" alt="David Alexander">
  <article>
    <%- body %>
  </article>
  <p class="return-button">
    ‹ <a href="/">home</a>
  </p>
</main>

<%- include ../components/footer.ejs %>