<!DOCTYPE html>
<html>

<head>
  <title>AfterLife</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="author" content="D.A.">
  <meta name="description" content="A computer science fiction short story by D.A. about life after death has made software obsolete">
  <meta name="keywords" content="scifi,science fiction,computer science">

  <link rel="shortcut icon" href="media/al/favicon.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="media/al/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="media/al/favicon-16x16.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source Sans Pro|EB+Garamond" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100430191-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-100430191-1');
  </script>
    
  <!-- Hotjar Tracking Code for https://dfoster.org -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 1340344, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>

  <style>
    html {
      scroll-behavior: smooth;
    }
    body {
      margin: 0px auto;
      max-width: 640px;
    }
    #cover {
      position: relative;

      background: url(media/afterlife.gif) no-repeat center center;
      background-size: cover;

      width: calc(100vw - (100vw - 100%));
      height: 100vh;
    }
    #text {
      position: absolute;
      bottom: 16px;
      width: 100%;
      color: white;
      font-family: sans-serif;
      font-weight: lighter;
    }

    header {
      padding-left: 8px;
    }
    @media only screen and (min-width: 321px) {
      header h1 {
        font-size: 5em;
      }
    }
    @media only screen and (max-width: 321px) {
      header h1 {
        font-size: 4em;
      }
    }
    header h1 {
      font-family: 'Source Sans Pro', sans-serif;
      margin: 0px;
      text-shadow: #000 1px 0 10px;
    }
    header p {
      margin: 0px;
      font-size: 2em;
      line-height: 1.2em;
      text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }

    p {
      font-family: 'Source Serif Pro', serif;
      font-size: 20px;
    }
    cite {
      text-align: center;
      display: block;
    }
    article {
      padding: 8px;
    }
    #read-button {
      width: 80%;
      margin: 32px auto 0px auto;
    }
    #read-button p {
      float: left;
      margin: 0px;
      font-size: 24px;
      text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    #read-button a {
      float: right;
      text-decoration: none;
      font-size: 24px;
      background: white;
      padding: 4px 16px;
      color: green;
      border: 1px solid green;
      border-radius: 16px;
    }
    #read-svg {
      height: 16px;
    }
    #email-button {
      text-align: center;
      display: block;
      width: 240px;
      padding: 4px 0px;
      margin: 0px auto 32px auto;
      font-family: 'Source Sans Pro', sans-serif;
      text-decoration: none;
      font-size: 24px;
      color: green;
      border: 1px solid green;
      border-radius: 16px;
    }
    #email-button svg {
      height: 17px;
    }
  </style>
</head>

<body>
  <div id="cover">
    <div id="text">
      <header>
        <h1>AfterLife</h1>
        <p>A computer science fiction short story by D.A.</p>
      </header>
      <div id="read-button">
        <p>55 minutes</p>
        <a href="#story">Read 
          <svg id="read-svg" aria-hidden="true" focusable="false" data-prefix="far" data-icon="book-open" class="svg-inline--fa fa-book-open fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M561.91 0C549.44 0 406.51 6.49 320 56.89 233.49 6.49 90.56 0 78.09 0 35.03 0 0 34.34 0 76.55v313.72c0 40.73 32.47 74.3 73.92 76.41 36.78 1.91 128.81 9.5 187.73 38.69 8.19 4.05 17.25 6.29 26.34 6.58v.05h64.02v-.05c9.09-.29 18.15-2.53 26.34-6.58 58.92-29.19 150.95-36.78 187.73-38.69C607.53 464.57 640 431 640 390.27V76.55C640 34.34 604.97 0 561.91 0zM296 438.15c0 11.09-10.96 18.91-21.33 14.96-64.53-24.54-153.96-32.07-198.31-34.38-15.9-.8-28.36-13.3-28.36-28.46V76.55C48 60.81 61.5 48 78.06 48c19.93.1 126.55 7.81 198.53 40.49 11.63 5.28 19.27 16.66 19.28 29.44L296 224v214.15zm296-47.88c0 15.16-12.46 27.66-28.36 28.47-44.35 2.3-133.78 9.83-198.31 34.38-10.37 3.94-21.33-3.87-21.33-14.96V224l.14-106.08c.02-12.78 7.65-24.15 19.28-29.44C435.4 55.81 542.02 48.1 561.94 48 578.5 48 592 60.81 592 76.55v313.72z"></path></svg></a>
      </div>
    </div>
  </div>
  <article id="story">
      <blockquote style="text-align: center;"><p>"If I can't be with you in this World, I'll be with you in the next."</p> </blockquote>
      <cite style="margin-top: -8px;">- Interspace developer</cite>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>With one hand I steer my red '31 Ford Mustang down a road that runs like a crack between two farms, and with the other I pull Fiona's hair back behind her ears so I can look into her eyes.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Where would you like to go today, my darling?&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Her eyes narrow as she looks out at the sprawling fields of sunflowers growing slowly in the morning sun ahead of us.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;<span class=SpellE>Hmmmm</span>...&quot; she hums between ruby red lips. &quot;How about Portland? We can check out a couple thrift stores, maybe find new coats for winter!&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Portland it is.&quot; I step on the gas and pixel-perfect fields fly by in a motion blur.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>We pull into a gravel lot next to the airport and park; stroll across faded black tarmac and hop into the tight embrace of our plane’s beige cockpit; taxi past dusty unused planes <span class=SpellE>en</span> route to the runway; turn onto its scraggly yellow centerline; align to it; push the throttle to full – engines roars to life and wind whistles past our streamlined metal body–and at fifty knots I pull the yoke and our wheels leave pavement: we are airborne; freed from the clutches of Mother Earth. Land pulls steadily away as we climb higher and higher into the sky.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Drink?&quot; Fiona asks at cruise altitude.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Yes ma’am,&quot; I smile as she hands me a beer from the cooler behind our seats.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Drones can’t fly in my <span class=GramE>World</span> so I don't bother scanning for traffic.
      Instead, I watch mountains, rivers, and highways as they disappear below our wings.
      Fiona sits with her feet on her chair, knees pulled up to her chest, reading her favorite book, <i style='mso-bidi-font-style:normal'>Brave New World</i>, for the thirtieth time. Somehow, she looks just as intrigued by it now as when I saw her read it the third time.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;How are you enjoying the story?&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>She sets the book down and looks at me.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;I hear John dies at the end,&quot; a grin forms on my dumb, smug face.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>She glares at me and her lips roll into her mouth like she does when she's angry. Then, as if nothing happened, she buries her head back between the pages of her book and resumes reading, all anger drained from her face.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Darling, is everything alright?&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>She looks up at me long enough to smile.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Of course, Dear,” she says as she continues reading.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>We fly a short way over fields and more mountains, over another river, and then we are in Oregon. Forests blanket the folding ridges on earth below us, rugged, wet, and beautiful. I ponder Fiona’s peculiar reaction to my dad joke the rest of the flight.
      We land at Sandy River Airport and take a cab to downtown Portland.</p>
       <p class=MsoNormal align=center style='margin-bottom:10.0pt;text-align:center; line-height:150%;border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt; mso-border-shadow:yes'>&#10023; &#10023; &#10023;</p><p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;How's Jessica?&quot; I ask between sips of a cold soda at a sidewalk cafe in the heart of the city.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;She's doing great, still working on her artwork,&quot; she watches drones walking by in their daily, pre-programmed routines, one <span class=GramE>in particular wearing</span> a red blouse has her attention. &#8203;<i style='mso-bidi-font-style: normal'>I want that blouse</i>&#8203;, I imagine her saying in her head, and snicker at the idea of it... of how well I know my wife. &quot;Some of it’s really good,&quot; she smiles politely at the drone as he <span class=GramE>bring</span> us our food, &quot;we <i style='mso-bidi-font-style:normal'>have </i>to visit her some time so you can give it a look.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Sunlight bleeds in from between the high rises and cars leisurely pass the grill's patio on their way to nowhere. The weather is nice and cool and warmer here than in Montana. I watch a gentle wind rustle the leaves on a pair of trees planted in the sidewalk. Fiona shares the moment on her Feed– she taps and swipes at her Watch and begins recording a Stream: rings glow neon green around her pupils; she stares at her sandwich for a moment and says <span class=SpellE><i style='mso-bidi-font-style:normal'>Yummm</i></span> for her audience; she looks up at me (my cue to wink), then up and down the lazy road next to the patio; she finishes with a cute one-liner about traveling with her hubby, then taps her Watch to stop recording. Synthetic green fades from her eyes and she returns to the moment. She takes a bite of her sandwich and smiles. I think six months back to our 90<sup>th</sup> anniversary.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>We sat together on a bench in a park in Paris and watched drones going through their subroutines pretending to be human: tourists taking photos, children throwing pennies into a fountain, locals sitting and laughing. I had my arm around Fiona, held her close so we could share our body heat. I squeezed her and whispered I loved her, and she replied the same.<o:p></o:p></i></p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>&quot;Do you remember the day we met?&quot; I asked.<o:p></o:p></i></p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>&quot;Of course.&quot;<o:p></o:p></i></p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>&quot;Ever since I met you, and even though we were friends,&quot; I rubbed her cold, rosy cheeks softly with the back of my fingers, &quot;you made me feel things I’d never felt before.&quot;<o:p></o:p></i></p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>She nodded. Light rain formed tiny silver beads on her amber hair.<o:p></o:p></i></p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>&quot;I didn't understand what those feeling <span class=GramE>were</span> till we went on our first date...&quot;<o:p></o:p></i></p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>&quot;When you took me to Lanikai,&quot; she said mattered-of-<span class=SpellE>factly</span>, her eyes as big as marbles, &quot;under that full moon.&quot;<o:p></o:p></i></p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>&quot;And we watched the ocean's inky black waves lap onto the golden sand before us,&quot; I said in my dramatic theatre voice and smiled. &quot;That's when I knew I had to spend the rest of my life with you.&quot;<o:p></o:p></i></p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><i style='mso-bidi-font-style:normal'>She paused, turned her head toward the fountain and laughed uncontrollably; her face turned red she was laughing so hard and mine did too except because of embarrassment and it felt hot under the sprinkling rain.<o:p></o:p></i></p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Darling?&quot; she looks up from her potato chips.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Yes, my dear.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Jessica's artwork?&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Yes,&quot; I fumble out of my head and back into the conversation, &quot;You'll have to send her a message on our behalf,&quot; I take another sip from my drink, &quot;We ought to visit her. I'd love to see what new work she's done.&quot;</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Our plane touches down at the airport in Montana and we hop back in our Mustang; I follow the curves of the road through the soft slopes of the countryside. We pass a dozen ranches empty on the inside, but their shapes add to the scenery when viewed from afar; this was as much detail as we could afford when we paid for our World. We drive past the gate of our ranch, unfinished redwood unaged and unchanged since we loaded in fifty years ago.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>We store our packs on the ground beside the door as we enter; Fiona heads for the kitchen to grab us water and I head for the couch. I look at a painting above the fireplace across the living room. Fiona’s friend Jessica painted it for us a few decades ago; we paid $5,000 from our life savings to transfer it from her World to ours. I’d rather have used that money to upgrade our World with more processing power, but Fiona insisted.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>She sits down on the couch next to me and flicks and taps on her watch to activate her Feed. Her eyes roll to the back of her head and she slumps backward onto the couch as algorithms feed into her mind's eye the experiences of friends, acquaintances, and strangers from other Worlds. I light a cigarette, take a drag, and look out the window at a lone cloud hanging in the sky. I relish the feel of the smoke as it fills my lungs; Fiona had me quit smoking before she'd marry me but here in AfterLife I can smoke to my heart's content, not even worry about the smell sticking to our carpet or furniture; a nice detail I paid extra for when we had our minds digitized and migrated in.
      My watch vibrates. I take one last drag before I tap the green symbol of a room on the face of it; my living room <span class=GramE>vanishes</span> and everything is replaced with white nothing.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Hey, Jet,&quot; I smile at my lanky friend sitting on his plush red sofa in the empty white space of the loading room.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Hey, Jacob! How's life <span class=SpellE>treatin</span>' <span class=SpellE>ya</span> these days?&quot; he says in the seesaw song of his southern drawl. We're in our forties here, the age we were when we met in real life and became good friends.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;<span class=GramE>Oh</span> I'm <span class=SpellE>doin</span>' alright...&quot; I slide back into the faint twang I developed living near Jet for a while in Kentucky. &quot;Lately been spending most of my days <span class=SpellE>flyin</span>'
      around the States and Europe.&quot; I lean back in my gray leather recliner and smile, &quot;And you? Are you still sharing a World with Erica?”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Nah, we’re not together no more,&quot; he shrugs. &quot;I found myself someone else, though. She's great. Actually, she says she knew your gal in college.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Huh. Small world.” I think for a moment about life before AfterLife.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;<i style='mso-bidi-font-style:normal'>Say</i>, you <span class=SpellE>wanna</span> go for a ride down Hollifield, like we'd do sometimes after work?” Jet asks. “This ole mind of mine is <span class=SpellE>itchin</span>' for a physical &#8203;<i style='mso-bidi-font-style:normal'>beat</i>&#8203;-down,” his crow's feet crinkles as he summons a smile.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I think whether Fiona will miss me for these next couple of hours and decide she won't.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Let's do it.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Jet swipes and pokes at his watch and the white floor and walls and ceiling around us slowly fade away and disappear, and we are in outer space. Earth floats in front of us about the size of a beach ball; a white Settings panel peeks out from behind it and comes into full view. Jet tinkers with his watch till he’s got the settings he wants– Year: 2063; Season: Fall; Weather: 68 degrees; Pain: 100%; Go: Yes. In an instant our galaxy disappears, and we are in Jet's backyard in Atlanta. We grab our bikes from his shed, mount up, and ride.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Left pedal down, right pedal up. Right pedal down, left pedal up. I focus on the rhythm of motion and my bike picks up speed. Thick trees roll past us on the left; glimpses of the river peek through the brushes to our right. The pavement is a little rougher here than on most streets but it's not bad. The air is cool as it blows past us but the humidity of the place sticks to my skin and beads of sweat form along my body. Jet pulls up next to me.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;How're you and Fiona <span class=SpellE>doin</span>’?&quot; he asks between breathes.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Pretty good. She’s hanging out a lot with Jessica these days. I’m keeping myself busy one way or another while she’s gone... I picked up hunting.” The road bends and the river <span class=GramE>is</span> out of sight.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Yeah?!&quot; he shouts with excitement, &quot;I love me some <span class=SpellE>huntin</span>’!
      What kind you <span class=SpellE>doin</span>'?&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Mostly deer.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Oh, yeah, that's a good animal to hunt!&quot; he shakes his head in excitement, &quot;I <span class=SpellE>musta</span> killed a dozen whitetail before I started <span class=SpellE>stalkin</span>' buck.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>We ride another hundred feet.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“But everything’s good between you and Fiona?” his face turns somber.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I look ahead at the road we're eating, one pedal at a time, and think about her reaction in the plane earlier today.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Yeah, everything is fine,&quot; I swallow and pedal harder. &quot;Why do you ask?&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Well,&quot; he starts out like he's John Wayne, like he does when he's trying to be serious.
      &quot;The girl I'm <span class=SpellE>seein</span>', she's a friend of a friend of Fiona's,&quot; he says looking past me.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I don’t know why but my mind gets <span class=SpellE>wirey</span>, starts thinking fast like it does when I'm nervous.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;See, the three of '<span class=SpellE>em</span>, my friend, Fiona, and their guy friend, all went to college together,&quot; he pauses. “Except, that friend of Fiona's wasn’t just a friend...&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;What the fuck are you <span class=SpellE>gettin</span>’ at here, Jet?&quot; I nearly shout as I feel my knuckles clench my bike's handlebars tight. I can't see them beneath my <span class=GramE>gloves</span> but I bet they're as white as snow. He ignores me and continues.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;I guess Fiona and this friend had a thing in college, but it didn't work out,&quot; his face still focused, &quot;that was before she met you.&quot;</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>A part of me knows where this is going and wants it to stop. The other part is desperate to learn more.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“<i style='mso-bidi-font-style:normal'>And?</i>”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Well, my gal Diana was experiencing her Feed the other day when she saw Fiona and their old friend sharing a World together. There was <span class=SpellE>nothin</span>'
      extraordinary about it or anything, but it made her feel <span class=GramE>funny</span> so she told me, and now I'm telling you.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>The road bends again back towards the river. A car <span class=GramE>drives</span> towards us. I watch the vacant, expressionless face of the computer-powered drone as it passes us on the left. It seems Jet couldn’t afford much processing power for his World either.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;What day did your girlfriend see this on her Feed?&quot; I ask.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I feel sweat rolling down my neck; <span class=GramE>so</span> consumed I'd been by our conversation I hadn't noticed how hard we’ve been riding.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Well, about a week ago... on Wednesday evening, I think&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I get the impression he regrets bringing this up. I recount this past week, think of what I did on Wednesday.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Fiona and I were together all of Wednesday,&quot; I say feeling reassured, &quot;we had a picnic down by the river in the afternoon and went into town and watched a movie.&quot; He didn't need to hear all of that, but saying it out loud made me feel better. &quot;Are you sure it was Wednesday night then?&quot;</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;I'm sure.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Your girl must be mistaken, <span class=SpellE>'cause</span> &#8203;I'm&#8203; sure Fiona was with me all that day.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Jet looks at me for a moment with uncharacteristic intensity and says, &quot;Okay, well, maybe she is.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>We pedal on, quiet for the rest of the ride. A lone blue-and-white hamburger stand comes into view. We eat, say goodbye, and load back into our own separate Worlds.
      Fiona is right where I left her two hours ago, eyes still closed and body limp, the Feed still shoveling content directly into her mind. I light up a cigarette and watch her lips quiver as she lives vicariously the tightly manicured lives of friends and strangers. Her body sits right next to mine, yet she's never felt so far away.</p>
      <p class=MsoNormal align=center style='margin-bottom:10.0pt;text-align:center; line-height:150%;border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt; mso-border-shadow:yes'>&#10023; &#10023; &#10023;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>The water is cold on my feet; wet sand squeezes between my toes as I claw into the gently descending slope of it; blue and green ocean sprawls into infinity in front of me as our World’s golden sun blankets me with its warmth. Foamy waves lap against my legs as I walk into them. Fiona sunbathes naked on a blonde towel on the beach behind me. I dive into a wave. Ocean streams past me as it hurls mountains of water towards the earth at my rear. The way Jet looked at me during our bike ride when I told him Fiona was with me that day, he looked at me like I was full of shit; like he knew something I didn’t. I swim out further and further, under the tall waves as they come, at an angle to fight the current that drags me south. Once far enough out I watch in calm waters as foam-tipped waves crash against the shore, where the curves of Fiona’s tanning body lay graceful and inviting. <i style='mso-bidi-font-style: normal'>Jet knew I was full of shit</i>.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%'>I sit my trunks on the bare sand next to Fiona as she lies on her stomach on her towel with her head turned my way. I rub my fingertips up her legs and up her back, to her neck, and back down; feel the soft skin of her <span class=GramE>twenty-five year old</span> body on my twenty-seven year old fingertips. We load into our younger selves when we go to the beach.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Your tan is coming in great darling.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“<span class=GramE>Thanks</span> dear. How’s the water feel?”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“As great as ever.” <i style='mso-bidi-font-style:normal'>Jet knows something I don’t</i>.
      “Darling, there’s something I want to talk to you about.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Fiona rustles up lazily from her nap, sits upright, and takes off her sunglasses. “What is it dear?”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Sometimes you act... differently,” I look into her eyes as they study me. “Every now and again I see a side of you I’ve never seen before.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;I'm not sure what you mean,&quot; she looks at me confused.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I think of her in the plane and during our last anniversary and keep prodding. &quot;I guess I'm not exactly sure what I mean either...&quot; I gather the hunches floating inside my mind and try to put them together so they resemble something coherent. “But I know what I feel, and sometimes it feels like you're not <i style='mso-bidi-font-style:normal'>you</i>.&quot;</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“That's because sometimes I'm not.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“What?”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'><span class=SpellE>FIona</span> stares at me for a moment, then her face becomes as expressionless as a porcelain doll.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“On behalf of Interspace, the developers of AfterLife, I apologize, but Fiona Harding is not here right now. She is away from this World.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;What are you talking about?&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;I'm not Fiona Harding. I'm an artificial intelligence generated from her personality. Fiona Harding is away from this World right now; may I take a message?” she stares at me blankly as she speaks.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Away from this World?” I look into those hazel eyes that were Fiona’s just a second ago but now they belong to something else. “I don’t understand...”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“In Version 17.10, Interspace introduced a new feature to AfterLife,” says an artificial voice no longer mimicking Fiona’s tone, pitch, or mannerisms. “Since version 17.10 users may replicate their digital avatars in their home World while visiting others.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Do you mean to say Fiona is in another World right now?”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“<span class=GramE>Yes</span> she is,” the drone sits rigidly on the beach towel; it doesn’t blink and its mouth moves up and down like a puppet. “It appears you were unaware of this new feature. Interspace publishes notes whenever a new version is released.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>It turns its body and holds its watch toward me so I can see the display.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“These notes are viewable in your watch under &#8203;Settings&#8203;, About, Version, Changelog,” it taps through all the buttons so that the most recent changelog appears on the display for Version 18.04.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“We encourage all users to read the releases notes to stay up-to-date on new features and performance enhancements added to AfterLife. Away from World was &#8203;<i style='mso-bidi-font-style:normal'>the</i>&#8203; most requested feature by our users since the release of AfterLife.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I sit numb as I process what the drone is saying.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Interspace takes great pride in implementing features suggested by our users,” it brings <span class=GramE>its</span> watch up again. “To request a <span class=GramE>feature</span> go to &#8203;Settings, About, Feedback,–&quot;</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Where’s Fiona?” I realize I don’t know where my wife is.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Interspace is committed to developing a universe that users want to explore for an eternity, and we thank you for–&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“I don’t give a <i style='mso-bidi-font-style:normal'>shit </i>about Interspace or your watch or requesting new features,” I yell. “How do I find out where my <i style='mso-bidi-font-style:normal'>fucking </i>&#8203;wife&#8203; is?”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Fiona Harding is away from this World right now. May I take a message?” it replies.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“That’s it?
      You’re just going to shut off, you &#8203;<i style='mso-bidi-font-style:normal'>fucking</i> drone?” I wave my hands at the program pretending to be my wife.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Fiona Harding is away from this World right now. May I take a message?”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I stare blankly at the naked drone in front of me: a beautiful, empty husk of a woman. I put my thumb in its mouth, like I do to Fiona when we fuck; this thing doesn’t suck or close its lips around my appendage like she does, just stares at me with those uncanny valley eyes. One by one, I stuff my other four fingers in till they are all inside. I wiggle them around the walls of its mouth and watch the unchanging expression remain on its face. It doesn’t move, only stares at me and wheezes. My knuckles scrape against its teeth as I shove my entire fist in, and I relish the pain. I look into the drone’s dead eyes; they see right through me, through my bullshit; they taunt me, call me a dumb ass for loving, living with, and fucking a computer for god knows how long. I take my hand out of its mouth.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“How did the water feel darling?” it says as the expression Fiona would wear while she’d say such a thing loads onto the contours of its computer-generated face.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“I’m going to go see Jet for a while.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I stand up, wipe the sand from my knees and the saliva from my hand. I pull up my watch to access the loading room.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Oh...” it sounds surprised about me suddenly leaving, a little sad even. “Um, okay dear, do you have an idea when you’ll be back?”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“I don’t know.” I wonder why I am bothering speaking to a drone. “A while.” Human nature, I guess.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Okay dear, if I’m not here when you’re back I will be at home waiting for you,” it looks just like Fiona again, down to the way she looks at me when I leave, as if I might never come back. “Have a <i style='mso-bidi-font-style:normal'>wonderful </i>time.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Our golden beach that stretches from horizon to horizon along a vast blue ocean disappears, and I am in the white loading room, thinking how to find my wife.</p> <p class=MsoNormal align=center style='margin-bottom:10.0pt;text-align:center; line-height:150%'>&#10023; &#10023; &#10023;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“What’s the guy’s name?” I ask the tiny video of Jet piping in through my watch face. My watch's glossy screen reflects the white lights of this bright room and I <span class=GramE>have to</span> tilt my wrist at an awkward angle just so I can see his goddamn face.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Huh? What’s <span class=SpellE>goin</span>’ on, Jacob?” Jet’s <i style='mso-bidi-font-style:normal'>startled </i>subroutine is called and perplexity loads onto his face.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“You mentioned that whatever girl you were fucking at the time saw my wife with some other guy, what’s his name?”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Hey man, don’t talk about Diana like that,” Jet’s loaded his <i style='mso-bidi-font-style:normal'>anger </i>protocol now; the polygons of his graphical face transition red. “Let’s both just calm down here, Jacob...” it says slowly. “You mean on that bike ride we went on last week?”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Yes.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Look, Jacob, you’re clearly <span class=SpellE>stressin</span>’ out right now man, and I <span class=SpellE>ain’t</span> about to hand you a loaded gun.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Jet,” my jaw clenches, “if you call yourself my friend, you will tell me right now who Fiona is fucking behind my back.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“<i style='mso-bidi-font-style:normal'>Jacob</i>...” <i style='mso-bidi-font-style: normal'>assertive </i>Jet has loaded, “you are my best friend, and you’re going to thank me later for hanging up on you right now.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>His face disappears and the screen goes black and I shout <i style='mso-bidi-font-style: normal'>FUCK &nbsp;</i>loud into the empty room with white walls so close I should hear an echo <span class=GramE>back</span> but I don’t. I sit on my recliner and hammer my watch with my finger till I've selected the Feed and my mind shifts consciousness into it. I grip at the fabric armrests as my vision and hearing are redirected to the Feed’s Home: a sprawling galaxy of planets with animated profile pictures next to each one; the closest ones to my ethereal body are friends and family, then acquaintances, then strangers I’ve bumped into, then strangers I share interests with, and on and on forever and ever– an endless network of digital avatars connected by data structures and algorithms. Fiona’s Stream is the closest to me, a Jupiter-like planet with a repeating video of her blowing a kiss in a place that doesn’t look familiar. I float over to her planet and her Stream pipes into my mind.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I see through her eyes as she walks down a neon-lit sidewalk with Jessica in Las Vegas; they dance together, then with a couple guys at a nightclub playing loud music; they play a few slots in the casino; stumble back to the room alone; fall asleep; wake up and have a mimosa breakfast– I skip past the bullshit as fast as I can– Fiona and I having tea on the patio in our ranch; Fiona whale-watching with old friends; Fiona eating gelato in Italy with a girlfriend; Fiona acting in a play, the view of a male actor in front of her, the stage’s backdrop in her right periphery and a quiet audience rapt with attention in her left. When did Fiona take up acting?</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I replay the Stream, study the expression of the actor’s face in front of her, obfuscated by a mask of makeup. I pause the Stream. He looks serious, focused on her, or maybe on his craft. I scroll ahead to a moment where her eye sight passes briefly over the audience and pause; study the audience. It’s not a large venue, around fifty people. I study the faces of each audience member, starting with the front left. A third of the way in I find him, an expression of joy and excitement in the contours of his eyes and mouth; the way Fiona looked at me when we fell in love. In my bodiless self, seeing through the eyes of Fiona, I look inward as if to look at my own chest, down past the boundary of the recording of Fiona’s vision, into darkness where a settings menu appears. I scroll through the list of users in this World and scan for the profile picture of the man in the crowd. &#8203;<i style='mso-bidi-font-style:normal'>Andrey L.
      Thompson</i>&#8203;.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I pull out of the Stream and readjust to my sight and sound being associated again with the bright and quiet loading room. I search for the man by name on my watch. He’s in Rory Gates’ World; one of only a handful of users in AfterLife wealthy enough to afford a World without user caps. Gates lets anyone load in… with so many users and all the details his World can simulate it’s the closest thing to being alive again. I run a search for Fiona; she’s there too. I load back into the Feed, into Fiona’s Stream and experience her most recent upload, not even two hours ago: her looking outside a cafe window onto Times Squares with a book on her lap and a fresh coffee on the table. Out of the Feed, I load into the New York City of Gates’ World and begin to look for my wife.</p> <p class=MsoNormal align=center style='margin-bottom:10.0pt;text-align:center; line-height:150%'>&#10023; &#10023; &#10023;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>They see me through the big glass windows of their bohemian cafe. A look of pure horror washes over their faces as I walk in. They both stand up as I come near, my wife and her lover.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>As I stand before two liars, my teeth slowly grinding each other to dust, I growl through the gaps between them, &quot;You <span class=GramE>lying</span>, little &#8203;<i style='mso-bidi-font-style:normal'>fucking</i>&#8203; whore,&quot; and watch spit fly out my mouth onto Fiona’s frightened face.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;Jacob...&quot; she winces, and they both look down at the garish wooden floor of this trendy place I’d never normally step foot in.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“How long have you been messing around with this guy? How long have I been living with a drone? Have I been living with a drone &#8203;this <i style='mso-bidi-font-style: normal'>entire </i>time&#8203;?”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>&quot;I gave my whole life to you Jacob,&quot; she yelps.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Answer the question, Fiona!”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Listen, Jacob...” Andrey chimes in.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“&#8203;Fuck off, <span class=GramE>asshole.&#8203;</span>”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>The cafe quiets. From the corner of my eye I see the cashier and a couple patrons bring their watches up to their face as they watch the drama unfold. Their eyes light neon green.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Jacob," Lover Boy begins, "I understand you’re very upset right now, but this is not the place to–”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Why are you even <i style='mso-bidi-font-style:normal'>talking </i>to me right now,” I ask incredulously, holding back a fist that desperately wants to connect with the mole on his right cheek. I look back toward Fiona. The entire coffee shop is watching now; waiting to report me to the owner of this World.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Fiona looks at me from the corners of her eyes, holding her elbows in her hands.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“We started seeing each other after they added the Away from World feature a year ago. Jacob, I’m sorry, I really am.&quot;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I become aware of the <span class=SpellE>surrealness</span> of this situation; conscious of my own sentience, simulated though it may be.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“I gave all of myself to you Jacob... one hundred percent,” she says, her eyes looking down, “we spent our entire <i style='mso-bidi-font-style:normal'>lives </i>together.
      Am I supposed to give myself to you for eternity, &#8203;too&#8203;?&quot;</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I think back to our wedding in Honolulu almost a century ago. &#8203;<i style='mso-bidi-font-style: normal'>Till death do us part </i>we recited as we looked into each other’s eyes, mine <span class=GramE>more watery</span> than hers and she spent two decades teasing me for it. I feel my eyes welling up now.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Why did you have to <i style='mso-bidi-font-style:normal'>&#8203;lie&#8203; </i>to me? Why couldn’t you have just been honest?” I ask.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“You were always so possessive of me Jacob, it’s so hard to say no to you.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I instinctively take a step towards her. A constellation of green eyes <span class=GramE>light</span> up the shop; everyone is recording the spectacle now.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Andrey steps in between us. “Jacob, you &#8203;<i style='mso-bidi-font-style:normal'>know</i>&#8203;&nbsp; Gates has rules here, if you break them you could be banned... permanently.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>My adrenaline kicks in and it suddenly becomes hard to focus. After Lover Boy finishes talking I step around him.</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“You&#8203; <i style='mso-bidi-font-style:normal'>wanted</i>&#8203; to me possess you, Fiona,” the thought of who we were together yanks at my heart strings. The thought of being without her leaves me feeling empty. “That’s how our relationship &#8203;<i style='mso-bidi-font-style:normal'>worked</i>&#8203;.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“<i style='mso-bidi-font-style:normal'>Okay</i>... but I have a right to change, Jacob,” she says, and Andrey nods quietly.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“And I deserve to know that you’ve changed, Fiona. I gave up my ambition for you, for us to settle down and have a family.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“No Jacob, you were in love with me,” she says accusingly. “You gave all that up because you <i style='mso-bidi-font-style:normal'>wanted</i>&#8203; to.”</p> <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“You could have just told me. We could have worked this out. Instead, you used <span class=SpellE>AfterLife’s</span> passive-aggressive <i style='mso-bidi-font-style: normal'>&#8203;bullshit&#8203; </i>feature to avoid having a difficult conversation.”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I feel like a fool for not checking the changelogs, for experiencing Fiona’s Feed so rarely I never saw this coming. Andrey moves his gaze from Fiona and onto me.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“Jacob you and your wife should–”</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“THAT’S RIGHT SHE’S MY &#8203;WIFE&#8203;! MY FUCKING WIFE!” I swing as hard as I can for Lover Boy’s perfectly tan face. No pain greets me on the impact, just the warmth and softness of his moisturized skin as my hand slides across his jaw and all I do is push his head back a couple inches. <span class=GramE>Of course</span> pain would be disabled in this World; these fake fucks <span class=SpellE>wanna</span> live life with only the smooth stuff enabled and none of the rough edges.
      &#8203;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“JACOB STOP!” Fiona shrieks.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Everyone in the cafe taps fast and furious on their watches and before I have a chance to say or do anything <span class=GramE>else</span> I am transported to the loading room so quickly I feel nauseous and disoriented and fall over. Once the dizziness stops I climb to my knees and scream and punch the pristine white floor over and over again as hard as I can, imagining it’s that cocksucker’s face I’m pounding, begging for pain and wishing blood would splatter from my knuckles all over this white floor that’s always so fucking clean but there's no pain or blood in the loading room; nothing gets dirty and I feel nothing except the digital anger boiling inside my binary mind.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>“FUCK!” &#8203;I shout at the top of my lungs as I leap to my feet and bring my watch to my face. I open the <i style='mso-bidi-font-style:normal'>All Worlds </i>panel and search for Lover Boy’s World by his name. I can't find it. I double-check the spelling and hit <i style='mso-bidi-font-style:normal'>&#8203;Search&#8203;</i>, but nothing appears. Triple-check, <i style='mso-bidi-font-style:normal'>&#8203;Search</i>, nothing. Quadruple-check, <i style='mso-bidi-font-style:normal'>Search</i>, nothing. I open the <i style='mso-bidi-font-style:normal'>Recent Worlds </i><span class=GramE>panel</span> but Gates’ World isn’t there, only mine and Fiona’s, mine and Jet’s, and mine and Fiona’s again. Just like that, I’ve lost all connection to the woman whom I spent my entire life with, whom I committed myself to spend eternity with, too.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I sit in my recliner and let the maelstrom raging in my mind settle. I close my eyes to hide the blinding white of this shitty room, feel my heart settle back down to its normal rate. I think who I want to be with right now. Not Jet; not any of my old Marine Corps buddies; my mom and dad passed away before AfterLife was released– god I wish I could see my mom right now; I only have a few cousins I could maybe see. I decide I’d rather be alone. I tap the <i style='mso-bidi-font-style: normal'>New World </i>icon; the white walls and recliner disappear; a galaxy along with a fresh earth load into view; I dial pain to 100%, weather to winter, set the date to the year before I met Fiona and hit <i style='mso-bidi-font-style: normal'>Go</i>.</p>
      <p class=MsoNormal align=center style='margin-bottom:10.0pt;text-align:center; line-height:150%'>&#10023; &#10023; &#10023;</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>Left boot down on dry stamped trail. Then the right. Left. Right. The cadence of a body in motion. I hike along the gray ridge of a mountain towards Granite Peak, its masculine spire rising like a monument before me, a rocky testament to the beauty of the first Creator’s design, whose world AfterLife imitates here with some success. As I inhale cold air fills my lungs, pokes at their insides like a million tiny needles and invigorates me. The rocky crags of a neighboring mountain range reflect off the calm blue surface of a lake below and to my left. I sit on a rock under the shade of a pine tree, catch my breath, and drink from my canteen. The metal is cold on my dry lips and the water tastes delicious in my parched mouth.</p>
      <p class=MsoNormal style='margin-bottom:10.0pt;line-height:150%;border:none; mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>I take in the view and feel at peace. The peak is broad, bare, and beautiful. Nature doesn’t require an expensive World to operate, only the simulation of people do. I lose myself to the vast breadth of this place, even if it is an imperfect digital copy. I pack my canteen and resume my hike. There is no shade the rest of the way; I hide under the brim of my hat to avoid the pain that comes with a fresh sunburn. As I hike onward, one step at a time, I begin to remember who I was before I met <span class=GramE>Fiona, and</span> ponder who I am to become next.</p>
  </article>

  <a id="email-button" href="mailto:faster@ucdavis.edu?subject=In Regards to AfterLife">email the author 
    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="paper-plane" class="svg-inline--fa fa-paper-plane fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 4.3L16 262.7C-7 276-4.7 309.9 19.8 320L160 378v102c0 30.2 37.8 43.3 56.7 20.3l60.7-73.8 126.4 52.2c19.1 7.9 40.7-4.2 43.8-24.7l64-417.1C515.7 10.2 487-9 464 4.3zM192 480v-88.8l54.5 22.5L192 480zm224-30.9l-206.2-85.2 199.5-235.8c4.8-5.6-2.9-13.2-8.5-8.4L145.5 337.3 32 290.5 480 32l-64 417.1z"></path></svg></a>

</body>
<script>
  window.scrollTo(0,1);
  window.onload = function() {
    document.getElementById('cover').style.height = window.innerHeight + 'px';
  }
</script>
</html>