<%- include ../components/head.ejs %>
<style>
  main {
    font-size: 16px;
  }
  #zipfields {
    margin-top: 16px;
    text-align: center;
  }
  main {
    padding: 8px;
  }
  ul {
    list-style: none;
    padding-left: 0px;
  }
  li {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px;
    cursor: pointer;
  }
  li li {
    padding: 0px;
    margin-bottom: 4px;
    box-shadow: initial;
    border: none;
  }
  input {
    color: black;
  }
  #result-info {
    margin-top: 8px;
    border: 1px solid #ccc;
    padding: 4px;
  }
  #result-info br {
    display: block;
    content: "";
    margin-bottom: 4px;
  }
</style>
</head>
<body>

<main>
  <h1 class="noselect">👩‍🌾 Find a Farmer's Market!</h1>
  <section id="results">
    Enter a zip code to get a list of the closest farmer's markets listed in the USDA's directory
  </section>

  <div id="zipfields">
    <input type="text" id="zip">
    <button id="submit">Go!</button>
  </div>
</main>
<script>
  var submitButton = document.getElementById('submit')
  var resultsDiv = document.getElementById('results')

  var loadResults = function () {

    var marketList = '<ul>'

    get(`http://search.ams.usda.gov/farmersmarkets/v1/data.svc/zipSearch?zip=${document.getElementById('zip').value}`, data => {
      JSON.parse(data).results.forEach(result => {

        let [distance, ...marketName] = result.marketname.split(' ')
        marketName = marketName.join(' ')

        marketList += `<li id="${result.id}" onclick="loadDetailed(${result.id})"><b>${marketName}</b><br>${distance} miles away</li>`
      })
      marketList += '</ul>'
      resultsDiv.innerHTML = marketList
    })
  }

  submitButton.onclick = loadResults

  function loadDetailed(marketId) {

    var marketListItem = document.getElementById(marketId)
    var marketInfo = '<ul>'

    get(`http://search.ams.usda.gov/farmersmarkets/v1/data.svc/mktDetail?id=${marketId}`, data => {
      data = JSON.parse(data).marketdetails
      var sched = data.Schedule.split(';')[0]

      marketInfo += `<section id="result-info"><b>Address </b>${data.Address}<br>`

      marketInfo += `<b>Schedule </b>${ sched !== ' <br> <br> <br> ' ? sched : 'No info provided'}<br>`

      marketInfo += `<b>Products </b>${ data.Products ? data.Products : 'No info provided'}<br>`

      marketInfo += `<li><a href="${data.GoogleLink}" target="_blank">🗺️ Google Maps</a><br>`
      marketInfo += '</ul'

      marketListItem.innerHTML += `<br>${marketInfo}`
      marketListItem.style.cursor = 'auto'
    })

    marketListItem.onclick = function() { return false; }
  }
</script>
<%- include ../components/footer.ejs %>